* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../img/norwegian_rose_ltblue.png');
	color: #333333;
	font-family: 'Georgia', serif;
	font-size: 14px;
}

h2 {
	color: #2e3092;
	font-family: 'Redressed', cursive;
	font-size: 36px;
	margin: 5px 0 10px 0;
	text-align: center;
}

h3 {
	color: black;
	font-size: 22px;
	margin: 5px 0 10px 0;
}

p {
	margin: 5px 0 10px 0;
}

a {
	color: #2e3092;
	font-weight: 800;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#container {
	/*background-color: white;*/
	box-shadow: 0px 0px 40px 12px #777777;
	margin: 0 auto;
	margin-bottom: 15px;
	max-width: 850px;
	min-width: 650px;
	width: 75%;
}

header {
	background-color: black;
	background-image: url('../img/HOC_art.png');
	background-position: top left;
	background-repeat: no-repeat;
	height: 150px;
}

	.header-left {
		float: left;
		width: 67%;
	}

		h1#logo {
			border-right: 1px white solid;
			margin: 35px 0 0 115px;
		}
		
			h1#logo a {
			background-image: url(../img/HOC_name.png);
			background-repeat: no-repeat;
			background-position: top left;
			border: none;
			display: block;
			height: 80px;
			text-indent: -9999px;
			width: 267px;
			}

	.header-right {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		color: white;
		float: right;
		font-size: 18px;
		padding-left: 10%;
		padding-top: 35px;
		width: 33%;
	}

nav {
	background: #2e3092; /* Old browsers */
	background: -moz-linear-gradient(top,  #2e3092 0%, #cbcced 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e3092), color-stop(100%,#cbcced)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2e3092 0%,#cbcced 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2e3092 0%,#cbcced 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2e3092 0%,#cbcced 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2e3092 0%,#cbcced 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e3092', endColorstr='#cbcced',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 3px 10px #777777;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	color: white;
	height: 50px;
	padding-top: 15px;
	position: relative;
	z-index: 1;
}

	nav a {
		color: white;
		font-size: 16px;
		font-weight: 800;
		text-decoration: none;
	}

	nav a:hover {
		/*color: black;*/
		text-decoration: underline;
	}

	nav ul {
		list-style-type: none;
	}

		nav ul li {
			float: left;
			padding-bottom: 17px;
			position: relative;
			text-align: center;
			width: 33%;
		}

		nav > ul > li:last-child {
			width: 34%;
		}

		nav ul li:hover > ul {
			display: block;
		}

/*		nav ul li a:hover:before {
			content: url('../img/tassle.png');
			vertical-align: -58%;
		}*/

			nav ul ul {
				background-color: #cbcced;
				border-left: 2px solid #2e3092;
				border-right: 2px solid #2e3092;
				border-bottom: 2px solid #2e3092;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				display: none;
				margin-left: 15%;
				margin-top: 17px;
				padding: 5px 0 5px 0;
				position: absolute;
				width: 70%;
			}

				nav ul li ul li {
					float: none;
					padding: 10px 0 10px 0;
					width: 100%;
				}

				nav ul li ul li:first-child {
					border-bottom: 1px solid white;
				}

#main {
	background-color: white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 60px 50px 10px 50px;
}

	.main-left {
		background-color: #CBCCED;
		background-image: url('../img/scroll.png');
		background-repeat: no-repeat;
		background-position: center top;
		box-shadow: 0px 0px 20px 12px #CBCCED;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		float: left;
		padding: 50px 20px;
		width: 50%;
	}

	.main-right {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		float: right;
		padding: 0 0 0 30px;
		text-align: center;
		width: 50%;
	}

		.main-right img {
			margin-bottom: 20px;
			width: 95%;
		}

.white-border {
	box-shadow: 0 0 0 6px white, 0 0 5px 9px #cccccc;
}

#copyright {
	bottom: 0;
}

.clear {
	clear: both;
}